/*
 * Top nav
*/
.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

footer.startupapi-footer {
	clear: both;
	padding: 2em;
	padding-bottom: 4em;
}

/*
 * Sidebar
*/
.sidebar {
	border-radius: 0;
	margin-bottom: 0;
}

.nav-stacked {
	margin: 1em 0 0.5em 0;
}

.nav-stacked > .nav-header {
	font-weight: bold;
}

#startupapi-message {
	display: none;
	margin-top: 1em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 3em;
}
footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 3em;
  background-color: #f5f5f5;
}