[submodule "oauth-php"]
	path = oauth-php
	url = https://github.com/sergeychernyshev/oauth-php.git
[submodule "dbupgrade"]
	path = dbupgrade
	url = https://github.com/sergeychernyshev/DBUpgrade.git
[submodule "twig"]
	path = twig
	url = https://github.com/fabpot/Twig.git
[submodule "trunk8"]
	path = trunk8
	url = https://github.com/rviscomi/trunk8.git
[submodule "masonry"]
	path = masonry
	url = https://github.com/desandro/masonry.git
[submodule "calendarview"]
	path = calendarview
	url = https://github.com/jsmecham/CalendarView.git
[submodule "php-bootstrap"]
	path = php-bootstrap
	url = https://github.com/sergeychernyshev/php-bootstrap.git
[submodule "bootswatch"]
	path = bootswatch
	url = https://github.com/thomaspark/bootswatch.git
[submodule "imagesloaded"]
	path = imagesloaded
	url = https://github.com/desandro/imagesloaded.git
[submodule "swiftmailer"]
	path = swiftmailer
	url = https://github.com/swiftmailer/swiftmailer.git
[submodule "phptidy"]
	path = phptidy
	url = https://github.com/cmrcx/phptidy.git
[submodule "swagger-ui"]
	path = swagger-ui
	url = https://github.com/swagger-api/swagger-ui.git
[submodule "modules/facebook/php-graph-sdk"]
	path = modules/facebook/php-graph-sdk
	url = https://github.com/facebook/php-graph-sdk.git
