[submodule "oauth-php"]
	path = oauth-php
	url = git://github.com/sergeychernyshev/oauth-php.git
[submodule "admin/swfobject"]
	path = admin/swfobject
	url = git://github.com/swfobject/swfobject.git
[submodule "dbupgrade"]
	path = dbupgrade
	url = git://github.com/sergeychernyshev/DBUpgrade.git
[submodule "phptidy"]
	path = phptidy
	url = git://github.com/sergeychernyshev/phptidy.git
[submodule "twig"]
	path = twig
	url = git://github.com/fabpot/Twig.git
[submodule "modules/facebook/facebook-php-sdk"]
	path = modules/facebook/facebook-php-sdk
	url = git://github.com/facebook/facebook-php-sdk.git
[submodule "trunk8"]
	path = trunk8
	url = git://github.com/rviscomi/trunk8.git
[submodule "masonry"]
	path = masonry
	url = git://github.com/desandro/masonry.git
