source: .

destination: docs/apigen

exclude:
  - */oauth-php/*
  - */modules/facebook/facebook-php-sdk/*
  - */modules/facebook/facebook-php-sdk/src/*
  - */dbupgrade/*
  - */admin/swfobject/*
  - */docs/*
  - */twig/*
  - */phptidy/*
  - */classes/MrClay_CookieStorage.php
  - */swiftmailer/*
  - */php-bootstrap/*

php: no

todo: yes

accessLevels:
  - public
  - protected
  - private
