source: .

destination: docs

exclude:
	- */oauth-php/*
	- */modules/facebook/php-sdk/*
	- */dbupgrade/*
	- */admin/swfobject/*
	- */docs/*
	- */smarty/*
	- */phptidy/*
	- */apigen-docs/*
	- */CookieStorage.php

php: no