{% macro showErrors(id, errors) %}
	{% if id in errors|keys and errors[id]|length > 0 %}
		<div class="alert alert-block alert-error fade-in">
			<h4 style="margin-bottom: 0.5em">Snap!</h4>

			<ul>
				{% for field, errorset in errors[id] %}
					{% for error in errorset %}
						<li>
							<label  style="cursor: pointer" for="startupapi-{{id}}-edit-{{field}}">
								{{error}}
							</label>
						</li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
		{% endif %}
{% endmacro %}

{% macro group(id, field, errors) %}{% if field in errors[id]|keys %} error" title="{{ errors[id][field]|join("\n")}}{% endif %}{% endmacro %}
