{% extends '@startupapi/page.html.twig' %}

{% block head %}
<link href="{{ UserConfig.USERSROOTURL }}/swagger-ui/dist/swagger-ui.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-bottom: 75px">
    <div id="swagger-ui-container"></div>
</div>

<script src="{{ UserConfig.USERSROOTURL }}/swagger-ui/dist/swagger-ui-bundle.js"></script>
<script src="{{ UserConfig.USERSROOTURL }}/swagger-ui/dist/swagger-ui-standalone-preset.js"></script>

<script>
window.onload = function() {
  // Build a system
  const ui = SwaggerUIBundle({
    url: "{{ UserConfig.USERSROOTURL }}/api.php?swagger-spec",
    dom_id: "#swagger-ui-container",
    deepLinking: true,
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ],
    plugins: [
      SwaggerUIBundle.plugins.DownloadUrl
    ],
    layout: "StandaloneLayout",
    requestInterceptor: function(a) {
      this.headers['X-CSRF-token'] = "not a real token, but a placeholder";
    }
  })

  window.ui = ui
}
</script>
{% endblock %}
