<div class="media">
	<a class="media-left" href="{{link}}" target="_blank">
		<img src="{{photo_url}}" style="max-width: 60px; max-height: 60px"/>
	</a>
	<div class="media-body">
		<h4 class="media-heading"><a href="{{link}}" target="_blank">{{name}}</a></h4>
	</div>
</div>
