{% extends '@startupapi/page.html.twig' %}
{% import '@startupapi/error_messages.html.twig' as ERR %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h2>Password reset</h2>

			<form id="startupapi-passwordreset-form" action="" method="POST">
				<fieldset>
					<legend>Please enter new password</legend>
					<ul>
						<li>
							<label>New password</label>
							<input name="pass" type="password" size="25" autocomplete="off"/>
							{% if errors.pass %}
							<span class="startup-api-error-message" title="{{errors.pass|join("\n")}}">*</span>
							{% endif %}
						</li>
						<li>
							<label>Repeat new password</label>
							<input name="repeatpass" type="password" size="25" autocomplete="off"/>
							{% if errors.repeatpass %}
							<span class="startup-api-error-message" title="{{errors.repeatpass|join("\n")}}">*</span>
							{% endif %}
						</li>
						<li>
							<button id="startupapi-passwordreset-button" type="submit" name="save">Save changes</button>
						</li>
					</ul>
				</fieldset>
			</form>

		</div>
	</div>
</div>
{% endblock %}